<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" id="WebApp_ID" version="4.0">
	<display-name>TravelCommunity</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/errorPage/errorPage404.jsp</location>
	</error-page>

	<servlet>
		<servlet-name>CommunityController</servlet-name>
		<servlet-class>controller.CommunityController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommunityController</servlet-name>
		<url-pattern>*.community</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MainController</servlet-name>
		<servlet-class>controller.MainController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainController</servlet-name>
		<url-pattern>*.main</url-pattern>
	</servlet-mapping>
</web-app>